/* @font-face {
  font-family: "brignell-square-regular";
  src:
    url(../static/fonts/BrignellSquareEOT/BrignellSquare-Regular.eot) format('eot'),
    url(../static/fonts/BrignellSquareTTF/BrignellSquare-Regular.ttf) format('truetype'),
    url(../static/fonts/BrignellSquareWOFF/BrignellSquare-Regular.woff) format('woff'),
    url(../static/fonts/BrignellSquareWOFF2/BrignellSquare-Regular.woff2) format('woff2');
  font-style: "regular";
}

@font-face {
  font-family: "brignell-square-medium";
  src:
    url(../static/fonts/BrignellSquareEOT/BrignellSquare-Medium.eot) format('eot'),
    url(../static/fonts/BrignellSquareTTF/BrignellSquare-Medium.ttf) format('truetype'),
    url(../static/fonts/BrignellSquareWOFF/BrignellSquare-Medium.woff) format('woff'),
    url(../static/fonts/BrignellSquareWOFF2/BrignellSquare-Medium.woff2) format('woff2');
  font-style: "medium";
}

@font-face {
  font-family: "brignell-square-bold";
  src:
    url(../static/fonts/BrignellSquareEOT/BrignellSquare-Bold.eot) format('eot'),
    url(../static/fonts/BrignellSquareTTF/BrignellSquare-Bold.ttf) format('truetype'),
    url(../static/fonts/BrignellSquareWOFF/BrignellSquare-Bold.woff) format('woff'),
    url(../static/fonts/BrignellSquareWOFF2/BrignellSquare-Bold.woff2) format('woff2');
  font-style: "bold";
} */
